---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main>
    <section class="min-h-dvh flex items-center justify-center">
      <h1>Telos</h1>
    </section>
  </main>
</BaseLayout>
