---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../sections/Hero.astro";
import Problem from "../sections/Problem.astro";
import Leistungen from "../sections/Leistungen.astro";
import Trust from "../sections/Trust.astro";
import SocialProof from "../sections/SocialProof.astro";
import Testimonials from "../sections/Testimonials.astro";
import CTA from "../sections/CTA.astro";
---

<BaseLayout title="Home">
  <div class="grid-bg">
    <Hero />
    <Problem />
    <Leistungen />
    <SocialProof />
    <Trust />
    <Testimonials />
    <CTA />
  </div>
</BaseLayout>
